{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'core/css/bootstrap.min.css'%}">

    <script type="text/javascript" src="{% static 'core/js/bootstrap.esm.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'core/js/jquery-3.6.0.min.js'%}"></script>

    <title>Sismos</title>
</head>

<body>
    <nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" href="página.html">
                <img src="% static 'core/img/descarga.jpg'%" alt="Logo"> El tablazo
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="nuestrosproductos.html">Nuestros Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="quienesSomos.html">Quienes somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contactanos.html">Contáctanos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#lol">Trabaja con nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#lol" data-toggle="modal" data-target="#modalCompra">Comprar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sismos.html">Sismos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <h1></h1>
            <h1>Sismos</h1>
        </div>

        <div class="form-group">
            <label for="texto">Límite 20 registros</label>
            <input type="text" class="form-control" id="texto" placeholder="ingrese cantidad de sismos a buscar">
        </div>

        <div class="container d-flex justify-content-end">
            <div class="row">
                <button type="button" class="btn btn-success" id="search">Buscar</button>
            </div>

        </div>

        <br>
        <div class="alert alert-success" id="msg"></div>


        <div class="row">
            <h2>Último Sismo</h2> <br>
        </div>
        <br>


        <div class="container border border-5">
            <div class="row">
                <h3>Fecha:</h3>
                <h3></h3>
                <h3 id="fecha"></h3>
            </div>

            <div class="row">
                <h4>Magnitud:</h4>
                <h4 id="magnitud"></h4>
            </div>


            <div class="row">
                <h4>Ubicación:</h4>
                <h4 id="ubicación"></h4>
            </div>
        </div>
        <br>

        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">fecha</th>
                        <th scope="col">magnitud</th>
                        <th scope="col">ubicación</th>
                    </tr>

                </thead>
                <tbody id="sismos"></tbody>
            </table>
        </div>

    </div>


    <script>
        $(document).ready(function() {
            $("#search").click(function() {
                $("#msg").hide();
                $("#fecha").empty();
                $("#magnitud").empty();
                $("#ubicación").empty();

                var filter = $("#texto").val();

                if (filter.trim() > 20 || filter.trim() < 0) {
                    $("#msg").show();
                    $("#msg").html("Ingresar solicitud menor a 20 sismos registrados")
                    $("#sismos").empty();
                } else {
                    $("#sismos").empty();

                }

            })
        });
    </script>

    <script>
        $(document).ready(function() {
            $("#search").click(function() {
                var filter = $("#texto").val();
                $.get("https://chilealerta.com/api/query/?user=demo&select=ultimos_sismos", function(data) {
                    $.each(data.ultimos_sismos, function(i, item) {

                        if (i == 0) {
                            $("#fecha").append(item.chilean_time);
                            $("#magnitud").append(item.magnitude);
                            $("#ubicación").append(item.reference);


                        } else if (i == filter) {
                            fila[filter] = "<tr>" +
                                "<td>" + i + "</td>" +
                                "<td>" + item.chilean_time + "</td>" +
                                "<td>" + item.magnitude + " </td>" +
                                "<td>" + item.reference + "</td>" +
                                "</tr>";
                            $("#sismos").append(fila);
                        } else {
                            var fila;
                            fila = "<tr>" +
                                "<td>" + i + "</td>" +
                                "<td>" + item.chilean_time + "</td>" +
                                "<td>" + item.magnitude + " </td>" +
                                "<td>" + item.reference + "</td>" +
                                "</tr>";

                            $("#sismos").append(fila);
                        }
                    });
                });
            });
        });
    </script>

</body>

</html>