{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'core/css/bootstrap.min.css'%}">

    <script type="text/javascript" src="{% static 'core/js/bootstrap.esm.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'core/js/jquery-3.6.0.min.js'%}"></script>

    <title>Sismos</title>
</head>

<body>
     <nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static 'core/img/descarga.jpg'%}"alt="Logo"> El tablazo
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="productos">Nuestros Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="informacion">Quienes somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto">Contáctanos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cliente">Trabaja con nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#lol" data-toggle="modal" data-target="#modalCompra">Comprar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sismos" >Sismos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Formulario de Busqueda -->
    <div class="container">
        <h1>Sismos</h1>
        <div class="row">
            <div class="col-12">
            <form>
                <div class="form-group">
                    <label for="limit">límite:</label>
                    <input type="number" class="form-control" id="limit">
                </div>
                <!-- btn buscar -->
                    <br>
                    <div class="d-flex justify-content-end">
                      <button type="button" class="btn btn-primary float-right" id="buscar">Buscar</button>
                    </div>
               <!-- btn buscar -->
            </form>
            </div>
        </div>
    </div>

    <!-- Fin Formulario Busqueda -->

    <!-- Contenedor Ultimo sismo -->
    <div class="container">
        <br>
            <h3>Ultimo Sismo</h3>
            <div class="card text-end">
                <div class="card-body">
                    <p class="card-text">Fecha: <span class="font-weight-bold" id="fecha"></span></p>
                    <p class="card-text">Magnitud: <span class="font-weight-bold" id="magnitud"></span></p>
                    <p class="card-text">Ubicacion: <span class="font-weight-bold" id="ubicacion"></span></p>
                </div>
            </div>
        <br>
    </div>
    <!-- Fin Contenedor Ultimo sismo-->

    <!-- Tabla de Sismos -->
    <div class="container">
        <h3>Sismos anteriores</h3>
        <div class="row">
            <table class="table table-dark table-striped" id="tabla">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Magnitud</th>
                    <th scope="col">Ubicación</th>
                    </tr>
                </thead>
                <tbody id="tbl"></tbody>
            </table>
        </div>
    </div>

    <script>
        $(document).ready(function () {
          $("#buscar").click(function(){
            var valid = true;
            var param = {
              user: "demo",
              select : "ultimos_sismos"
            };

            var limit = $("#limit").val();

            $("#fecha").html("");
            $("#magnitud").html("");
            $("#ubicacion").html("");
            $("#tbl").empty();

            if (limit != "" && limit<=0){
              valid = false;
              alert("Debe ingresar número mayor cero");
            }else if (limit > 20){
              valid = false;
              alert("Es posible mostrar solo 20 sismos");
            }

            if (valid) {
              $.get("https://chilealerta.com/api/query/?user=demo&select=ultimos_sismos", function (data) {
                $.each(data.ultimos_sismos, function (i, item) {
                  var fila;
                  if (i == 0){
                    $("#fecha").html(item.chilean_time);
                    $("#magnitud").html(item.magnitude);
                    $("#ubicacion").html(item.reference);
                    
                  }else if ((i + 1 <= limit || limit.trim().length == 0)) {
                    fila = "<tr>" +
                      "<td>" + (i) + "</td>" +
                      "<td>" + item.chilean_time + "</td>" +
                      "<td>" + item.magnitude + "</td>" +
                      "<td>" + item.reference + "</td>" +
                      "</tr>";

                    $("#tbl").append(fila);
                  }
                });
              });
            }
          });
        });
    </script>
    <!-- Fin tabla -->

    <!-- Boton de volver -->
    <div class="container">
        <div class="col text-center ">
            <a class="btn btn-primary " href="/ " role="button ">Volver</a>
        </div>
    </div>
    <!--Fin Boton volver-->
    
  <!-- /Header -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <LINK REL=StyleSheet HREF="{% static 'core/css/página.css'%}" TYPE="text/css" MEDIA=screen>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
</body>

</html>